* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    width: 100vw;
    height: 95vh;
   
}

.sesion1{
     background: linear-gradient(180deg, rgba(0, 22, 66, 1) 0%, rgba(0, 30, 91, 1) 5%, rgba(2, 80, 217, 1) 100%);
    display: flex
;
    justify-content: center;
    padding: 20px;
    
}






.contenido-centrado {
    text-align: center;
    max-width: 800px;
    color: white;
    animation: fadeIn 1s ease-in-out;
    justify-content: center;
    display: flex
;
    flex-direction: column;
    width: 90%;
    height: 100%;
    padding-top: 67px;
    min-height: 562px;
    box-sizing: border-box !important;
    padding-bottom: 40px;

}
h1 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
}

h1 span {
    color: #0d9dda;
}

.descripcion {
    color: #d1d1d1;
    margin-top: 23px;
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    font-weight: 100;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.solicitar-demo {
    background: #0d9dda;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    margin-top: auto;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.solicitar-demo:hover {
    background: #0b87b8;
    transform: translateY(-3px);
   
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}










.card {
    background: linear-gradient(180deg, #e6f2ff, #b3d9ff);
    border-radius: 10px;
    padding: 20px;
    max-width: 350px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: left;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.tag {
    display: inline-block;
    background: #fff;
    color: #0070d2;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
    margin-bottom: 10px;
    font-weight: bold;
}




.price {
    font-weight: bold;
    margin-top: 10px;
}

.btn-primary {
    background-color: #0070d2;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #005fa3;
}

.btn-secondary {
    background-color: white;
    color: #0070d2;
    border: 2px solid #0070d2;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #f0f8ff;
}


.sesion2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 40px;
    padding-bottom : 61px;
background-color: #f4f7fb;
}